.section-title {
    font-size: 1.7rem;
    font-weight: 700;
    // margin-bottom: 1rem;
    width: 100%;
    margin-top: 20px;
    margin-bottom: 30px;
    text-transform: uppercase;
    color: var(--color-primary);
}

@media screen and (max-width: 768px) {
    .section-title {
        width: calc(100% - 60px);
    }
}