.container {
    display: flex;
    margin: 0;
    align-items: center;
    cursor: de;
}

.post-title {
    font-size: 18px;
    margin: 5px 0;
    font-weight: 600;
    // text-decoration: underline;
    transition: .2s all cubic-bezier(0, 0, 0, 1);
    // text-decoration: underline;
}

.post-date {
    font-weight: 400;
    font-size: 18px;
    opacity: 0.8;
    margin-right: 20px;
    text-decoration: none !important;
}

.container:hover .post-title{
    opacity: 0.4;
}